<div style="background-image: url('/assets/fondo.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Creador de Blogs</span>
    <span class="example-spacer"></span>

    <button mat-raised-button color="primary" routerLink="/createpost">Crear Nuevo Post</button>
    <button mat-raised-button color="primary" routerLink="/viewpost">Ver Todos Los Posts</button>
    <button mat-raised-button color="primary" routerLink="/searchpost">Buscar Post</button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <p><img src="assets/blog.jpg" alt="Logo" style="display: block; margin: 0 auto; max-width: 35%; height: auto;"></p>
  </div>

  
  