<div *ngIf="postData" class="card-container">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{postData.nombre}}</mat-card-title>
                <mat-card-subtitle>Posteado por: {{postData.creador}} | Fecha de Publicación: {{postData.fecha | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
            <img mat-card-image [src]="postData.imagen" height="300px" class="img" alt ="Card Image" />
            <mat-card-content>
                {{postData.contenido}}
            </mat-card-content>
            <br>
            <mat-chip-set>
                <mat-chip *ngFor="let etiqueta of postData.etiquetas">{{ etiqueta }}</mat-chip>
            </mat-chip-set>

            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="likePost()">{{postData.likes}} 
                    <mat-icon>favorite</mat-icon></button>

                <button mat-raised-button color="primary" style="margin-left:5px;">{{postData.vistas}} 
                    <mat-icon>remove_red_eye</mat-icon></button>
            </mat-card-actions>
    </mat-card>
    <mat-card class="coment-card">
        <mat-card-content>
            <h4>Publica un Comentario</h4>
            <div>
                <form [formGroup]="comentarioForm">
                    <mat-form-field appeareance="fill">
                        <mat-label>Contenido</mat-label>
                        <textarea matInput formControlName="contenido"></textarea>
                    </mat-form-field>

                    <mat-form-field appeareance="fill">
                        <mat-label>Comentado por: </mat-label>
                        <input matInput formControlName="creador">
                    </mat-form-field>

                    <button mat-raised-button (click)="publicarComentario()" color="primary" style="float: right;"
                    [disabled]="!comentarioForm.valid">Publicar</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <div style="margin-top: 10px;">
        <h4>Comentarios</h4>
        <mat-card style="margin-top: 10px;" *ngFor="let comentario of comentarios">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ comentario.creador }}</mat-card-title>
                <mat-card-subtitle>{{ comentario.fechaCreacion | date:'medium'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{comentario.contenido}}
            </mat-card-content>
        </mat-card>
    </div>
</div>